assignments/week2/drivers/maven/maven-central/com.github.ben-manes.caffeine/caffeine-2.6.2.jar
assignments/week2/drivers/maven/maven-central/com.github.ben-manes.caffeine/caffeine-2.6.2.pom
assignments/week2/drivers/maven/maven-central/com.github.waffle/waffle-jna-1.9.1.jar
assignments/week2/drivers/maven/maven-central/com.github.waffle/waffle-jna-1.9.1.pom
assignments/week2/drivers/maven/maven-central/com.github.waffle/waffle-parent-1.9.1.pom
assignments/week2/drivers/maven/maven-central/net.java.dev.jna/jna-4.5.1.jar
assignments/week2/drivers/maven/maven-central/net.java.dev.jna/jna-4.5.1.pom
assignments/week2/drivers/maven/maven-central/net.java.dev.jna/jna-platform-4.5.1.jar
assignments/week2/drivers/maven/maven-central/net.java.dev.jna/jna-platform-4.5.1.pom
assignments/week2/drivers/maven/maven-central/net.postgis/postgis-geometry-2.5.0.jar
assignments/week2/drivers/maven/maven-central/net.postgis/postgis-geometry-2.5.0.pom
assignments/week2/drivers/maven/maven-central/net.postgis/postgis-java-aggregator-2.5.0.pom
assignments/week2/drivers/maven/maven-central/net.postgis/postgis-jdbc-2.5.0.jar
assignments/week2/drivers/maven/maven-central/net.postgis/postgis-jdbc-2.5.0.pom
assignments/week2/drivers/maven/maven-central/org.checkerframework/checker-qual-3.5.0.jar
assignments/week2/drivers/maven/maven-central/org.checkerframework/checker-qual-3.5.0.pom
assignments/week2/drivers/maven/maven-central/org.postgresql/postgresql-42.2.25.jar
assignments/week2/drivers/maven/maven-central/org.postgresql/postgresql-42.2.25.pom
assignments/week2/drivers/maven/maven-central/org.slf4j/jcl-over-slf4j-1.7.25.jar
assignments/week2/drivers/maven/maven-central/org.slf4j/jcl-over-slf4j-1.7.25.pom
assignments/week2/drivers/maven/maven-central/org.slf4j/slf4j-api-1.7.25.jar
assignments/week2/drivers/maven/maven-central/org.slf4j/slf4j-api-1.7.25.pom
assignments/week2/drivers/maven/maven-central/org.slf4j/slf4j-parent-1.7.25.pom
assignments/week2/drivers/maven/maven-central/org.testcontainers/testcontainers-bom-1.13.0.pom
assignments/week2/SQL/.gitignore
assignments/week2/SQL/.metadata/.lock
assignments/week2/SQL/.metadata/.log
assignments/week2/SQL/.metadata/dbeaver-debug.log
assignments/week2/SQL/.metadata/dbeaver-external-files.data
assignments/week2/SQL/.metadata/dbeaver-instance.properties
assignments/week2/SQL/.metadata/dbeaver-workspace.properties
assignments/week2/SQL/.metadata/.config/drivers.xml
assignments/week2/SQL/.metadata/.plugins/org.eclipse.core.resources/.root/1.tree
assignments/week2/SQL/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
assignments/week2/SQL/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
assignments/week2/SQL/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
assignments/week2/SQL/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
assignments/week2/SQL/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
assignments/week2/SQL/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.editors.prefs
assignments/week2/SQL/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.workbench.prefs
assignments/week2/SQL/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.jkiss.dbeaver.core.prefs
assignments/week2/SQL/.metadata/.plugins/org.jkiss.dbeaver.core/column_settings.xml
assignments/week2/SQL/.metadata/.plugins/org.jkiss.dbeaver.ui/dialog_settings.xml
assignments/week2/SQL/General/.project
assignments/week2/SQL/General/.dbeaver/.credentials-config.json.bak
assignments/week2/SQL/General/.dbeaver/.data-sources.json.bak
